@import './styles/colors.scss';

@mixin button{
    padding: 16px 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.primary{
    @include button();
background-color: $primary;
color:$white;

}
.secondary{
    @include button();
    background-color: $light;
    color: $secondary;
}
.error{
    @include button();
    color:$error;

}
.container{
    width: 500px;
}